# Python bytecode and envs
__pycache__/
tests/__pycache__/
reloop/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
*.egg-info/
.eggs/
build/
dist/
__pycache__

# IDE and OS
.DS_Store
.idea/
.vscode/
__pycache__
*.log
